.trow{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.edit{
    background-color: rgb(119, 119, 207);
    color: black;
    border-radius: 5px;
}
.del{
    background-color: red;
    color: black;
    border-radius: 5px;
}
.none{
    display: none;
}